<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket to Ride</title>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="main-page-body">
  <header>
    <button id="back-to-player-count-page" class="back-to-player-count-btn">Change Player Count</button>
    <button id="about-page-btn" class="back-to-player-count-btn">About</button>
  </header>

  <h1 class="player-turn" id="playerTurn"> PlayerTurn </h1>
  <p class="points" id="playerPoints">PlayerPoints</p>
  
  <canvas id="gameCanvas" class="gamecanvas"></canvas>
  
  <p class="player-stats" id="playerStats">PlayerStats </p>
  <p class="player-stats" id="playerTrains">PlayerTrains</p>
  <p class="player-stats" id="playerDestinations">PlayerDestinations</p>
  <p class="open-pile" id="openPile">OpenPile</p>

  <div class="choices-on-turn-body">
    <button class="choice-on-turn" id="drawTwoCards">Draw Two Cards</button>
    <button class="choice-on-turn" id="drawFromPile">Draw Route Cards</button>
    <select class="choice-on-turn" id="claimRoute" name="choose a route">
      <option value="Kansas City-to-Gladstone">Kansas City-to-Gladstone</option>
      <option value="Kansas City-to-Raytown">Kansas City-to-Raytown</option>
      <option value="Kansas City-to-Independence">Kansas City-to-Independence</option>
      <option value="Gladstone-to-Liberty">Gladstone-to-Liberty</option>
      <option value="Raytown-to-Independence">Raytown-to-Independence</option>
      <option value="Liberty-to-Independence">Liberty-to-Independence</option>
      <option value="Liberty-to-Excelsior Springs">Liberty-to-Excelsior Springs</option>
      <option value="Independence-to-Blue Springs">Independence-to-Blue Springs</option>
      <option value="Excelsior Springs-to-Kearney">Excelsior Springs-to-Kearney</option>
      <option value="Blue Springs-to-Lee's Summit">Blue Springs-to-Lee's Summit</option>
      <option value="Kearney-to-Smithville">Kearney-to-Smithville</option>
      <option value="Lee's Summit-to-Grain Valley">Lee's Summit-to-Grain Valley</option>
      <option value="Smithville-to-Plattsburg">Smithville-to-Plattsburg</option>
      <option value="Grain Valley-to-Oak Grove">Grain Valley-to-Oak Grove</option>
      <option value="Plattsburg-to-Hamilton">Plattsburg-to-Hamilton</option>
      <option value="Oak Grove-to-Harrisonville">Oak Grove-to-Harrisonville</option>
      <option value="Lee's Summit-to-Lone Jack">Lee's Summit-to-Lone Jack</option>
      <option value="Lone Jack-to-Harrisonville">Lone Jack-to-Harrisonville</option>
      <option value="Kansas City-to-Overland Park">Kansas City-to-Overland Park</option>
      <option value="Overland Park-to-Shawnee">Overland Park-to-Shawnee</option>
      <option value="Shawnee-to-Lenexa">Shawnee-to-Lenexa</option>
      <option value="Lenexa-to-Olathe">Lenexa-to-Olathe</option>
      <option value="Olathe-to-Harrisonville">Olathe-to-Harrisonville</option>
    </select>
    <button class="choice-on-turn" id="claimRouteBtn">Claim Route</button>
    
  </div>
  <ul class="route-list" id="routeList"></ul>
</body>
</html>
