<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket to Ride</title>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <button id="back-to-player-count-page" class="back-to-player-count-btn">Change Player Count</button>
</header>
<body class="main-page-body">
    <h1 class="player-turn" id="playerTurn">Player 1's Turn</h1>
    <canvas id="gameCanvas" class="gamecanvas"></canvas>
    <p class="player-stats" id="playerStats">Player Stats will be displayed here.</p>
    <p class="open-pile" id="openPile">where open cards will be</p>
</body>
<body class="choices-on-turn-body">
    <button class="choice-on-turn" id="drawTwoCards">Draw Two Cards</button>
    <button class="choice-on-turn" id="drawFromPile">Draw Route Cards</button>
    <select class="choice-on-turn" id="claimRoute" name="choose a route"></select>
        <option value="KC-to-Gladstone" id="KC-to-Gladstone">KC-to-Gladstone</option>
        <option value="KC-to-Raytown" id="KC-to-Raytown">KC-to-Raytown</option>
    </select>
    <button class="choice-on-turn" id="BuyRoute">Buy Route</button>
</body>
</html>