<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket to Ride</title>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <button id="back-to-player-count-page" class="back-to-player-count-btn">Change Player Count</button>
</header>
<body class="main-page-body">
    <canvas id="gameCanvas" class="gamecanvas"></canvas>
</body>
</html>