<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Count</title>
    <script type="module" src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="first-page-body">
    <button id="reset-game-btn" class="btn-player-input">reset game</button>
    <input class="player-input" type="number" id="player-count-input" min="2" max="5" value="2">
    <button class="btn-player-input" id="player-count-btn" type="button">Set Player Count</button>
</body>
</html>