body {
    color:grey
}

.gamecanvas{
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    margin: 10px;
    background-color: rgb(194, 188, 188);
    align-self: center;
}