/* first page */

.first-page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(194, 188, 188);
}

.player-input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.btn-player-input{
    width: 220px;
    height: 45px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

/* main page*/

.main-page-body{
    display: flex;
    flex-direction: column;
    color:grey;
}

.gamecanvas{
    margin: auto;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    margin: 10px;
    background-color: rgb(194, 188, 188);
    align-self: center;
}

.back-to-player-count-btn{
    width: 220px;
    height: 45px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.player-turn{
    text-align:center;
    font-size:24px;
    color:black;
}
.player-stats{
    text-align:center;
    font-size:16px;
    color:black;
}

.open-pile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    color:black;
}

.choices-on-turn-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.choice-on-turn{
    width: 220px;
    height: 45px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    align-self: center;
    text-align: center;
}

.route-list{
    color:black;
    text-align: center;
    list-style-type: none;
}